
.eductionList p{
	color: #999999;
	font-size: 16px;
	margin:0px;
}

.eductionList .Subject{
font-size: 22px;
margin: 10px 0;
}

.eductionList{
	background: #070707;
	box-sizing: border-box;
	margin-right: 10px;
	padding: 30px;
	border-radius: 15px;
}

.jobs{
	display: flex;
	background: #070707;
	padding: 30px !important;
	border-radius: 15px;
	justify-content: center;
	margin-bottom: 20px;
}

.job-info{
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.job-details::before{
	content: '';
	clear: both;
	width: 2px;
	height: 80px;
	background: #252525;
	display: block;
	position: absolute;
	left: -50px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.job-details{
	width: 75%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.jobs h2{
	font-size: 19px;
	margin: 0;
	padding: 0;
	margin-bottom:9px;
}
.jobs p{
	font-size: 16px;
	color: #999999;
	margin: 0;
	padding: 0;
	font-style: italic;

}



/** MOBILE **/
@media all and (max-width:1000px){
	.education .row {
display: block;
}
	.education .row >div{
			width: 100%;
			margin-top: 20px;
	}
	.job-details {
	width: 65%;
}
	.job-info {
	width: 35%;
}
}

@media all and (max-width:992px){
	.jobs{
		display: block;
	}
	.job-details::before {
	display: none;
}
	.job-details{
			width: 100%;
			margin-top: 20px
	}
	.job-info{
			width: 100%;
	}
}
