/** HEADER CSS **/

nav{
	padding: 10px 0;
}
.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__menu ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__menu li {
  list-style: none;
  margin-left: 40px !important;
}

.nav__menu a {
  display: block;
	background-color: #2e2e2e;
	background-color: #2e2e2e;
	padding: 6px 16px;
  border-radius: 5px;
}

.nav__menu svg{
	font-size: 16px;
	margin-top: -4px;
	margin-right: 7px;
}
.nav__menu a.active {
	background: linear-gradient(90deg, rgba(250,82,82,0.9514399509803921) 48%, rgba(221,36,118,1) 100%);
}
