.work-icon svg{
	font-size: 4.5em;
	color: #ff622f;

}
.work-title{
	margin-top: 100px;
}
.work {
	display: flex;
	margin: 10px 0
}
.work-icon{
	margin-right: 20px;
}

.work-content h6{
	font-size: 26px;
	margin-top: 5px;
}

.work-content p{
	color: #999999;
}
